/* TableStyles.css */
.styled-table {
    width: 100%;
    border-collapse: collapse; /* 移除单元格之间的空隙 */
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid rgb(251, 248, 248); /* 为表格的每个单元格添加边框 */
    padding: 8px; /* 添加一些内边距 */
  }
  
  .styled-table thead tr {
    background-color: rgb(255, 255, 255); /* 为表头设置背景色 */
  }

  /* 默认的提交按钮样式 */
.submit-button {
    background-color: rgb(20, 186, 242);
    color: rgb(251, 248, 248);
    /* 添加其他样式，如 padding, border, etc. */
  }
  
  /* 当按钮处于已提交状态的样式 */
  .submit-button-disabled {
    background-color: white;
    color: black;
    cursor: not-allowed;
    /* 添加其他样式，如 padding, border, etc. */
  }

  
  
  .vote-button {
    margin-right: 10px; /* 保持原来按钮之间的间距 */
  }
  .voting-section {
    display: flex;         /* 启用 flexbox */
    justify-content: flex-end; /* 将子元素对齐到容器的右侧 */
    margin-top: 10px;      /* 根据需要调整上边距 */
  }
  
  .voting-buttons-container, .voting-results-container {
    margin-right: 10px; /* 为容器添加右边距 */
  }


.button-spacing {
  margin-right: 10px;
}

  