/* TableStyles.css */

.task-brief {
  margin-top: 90px; /* 添加一些顶部边距 */
  padding: 15px; /* 内边距 */
  background-color: #f0f0f0; /* 背景颜色 */
  border-radius: 5px; /* 圆角边框 */

}

.task-brief ul {
  list-style-type: disc; /* 使用实心圆点作为列表项的标记 */
  padding-left: 20px; /* 给列表添加左内边距，确保点不会和文本挨太近 */
}

.task-brief li {
  margin-bottom: 10px; /* 给列表项之间增加一些间隙 */
}


.task-brief-title {
  text-align: center; /* 仅将这个标题的文本居中 */
}


.container {
  max-height: 1050px; /* 或者根据您页面的实际高度来调整 */
}

 
   
.selected-feature {
  font-weight: bold;
  color: blue;
}

.styled-table {
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* 或根据您的设计需求调整 */
  /* 其他样式不变 */
}

.styled-table th, .styled-table td {
  border: 1px solid #606060;
  padding: 4px;
  text-align: center; /* 文本居中对齐 */
}

/* 设置特定列的宽度 */
.styled-table thead th:nth-child(1),
.styled-table tbody td:nth-child(1) {
  width: 40%; /* 第一列宽度，调整为所需的百分比 */
}

.styled-table thead th {
  background-color: #54b1ee; /* Ensure this matches the button color */
  color: white;
  /* Other styling properties */
}


.styled-table thead th:nth-child(2),
.styled-table tbody td:nth-child(2) {
  width: 20%; /* 第二列宽度 */
}

.styled-table thead th:nth-child(3),
.styled-table tbody td:nth-child(3) {
  width: 20%; /* 第三列宽度 */
}

.styled-table thead tr {
  background-color: rgb(255, 255, 255);
}

.submit-button {
  background-color: #54b1ee; /* Adjust this color to match your theme */
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* This creates the smooth edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submit-button-orange {
  background-color: #f39a2d; /* Adjust this color to match your theme */
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* This creates the smooth edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


.submit-button:hover {
  background-color: #54b1ee; /* A slightly darker shade for hover effect */
}
  
  /* 当按钮处于已提交状态的样式 */
  .submit-button-disabled {
    background-color: white;
    color: black;
    cursor: not-allowed;
    /* 添加其他样式，如 padding, border, etc. */
  }

  
  
  .vote-button {
    margin-right: 10px; /* 保持原来按钮之间的间距 */
  }
  .voting-section {
    display: flex;         /* 启用 flexbox */
    justify-content: flex-end; /* 将子元素对齐到容器的右侧 */
    margin-top: 10px;      /* 根据需要调整上边距 */
  }
  
  .voting-buttons-container, .voting-results-container {
    margin-right: 10px; /* 为容器添加右边距 */
  }


.button-spacing {
  margin-right: 10px;
}




.table-wrapper {
  margin: 0 10px; ;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between; /* 如果需要，可调整为center或start等 */
  align-items: start; /* 使子元素与容器的顶部对齐 */
}

 
.total-points-display, .button-container {
  width: 100%; /* 使它们宽度充满父容器 */
  display: flex;
  justify-content: flex-end; /* 内容靠右对齐 */
  padding-right: 20px; /* 假设表格与容器右边的距离，可调整 */
 
  bottom: 0; /* 距离容器底部0 */
  right: 0; /* 距离容器右边0 */
}

.buttons-container-vote{
  display: flex; /* 使用flex布局让子元素并排 */
  justify-content: center; /* 水平居中对齐子元素 */
  gap: 20px; /* 在按钮之间添加一些间隙 */
}


 
 

.content-wrapper {
  display: flex;
  justify-content: center; /* 子元素水平居中 */
  align-items: flex-start; /* 子元素与容器顶部对齐 */
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0px; /* 根据需要调整间隙 */
  position: relative;
}

.second-styled-table thead th {
 
  background-color: #0c4f92; /* 深蓝色 */
  color: white;
}


/* 为.task-brief添加外层包装器样式 */
.text-brief-wrapper {
  display: flex;
  justify-content: center; /* 使.task-brief整体居中 */
  width: 100%; /* 占满父容器宽度 */
}
.text-brief {
  width: 80%; /* 根据需要调整宽度，确保文本左对齐 */
  text-align: left;
  margin-top: 9px;
  padding: 15px;
  background-color: #f39a2d;
  border-radius: 5px;
}

/* 为.task-brief添加外层包装器样式 */
.informal-text-brief-wrapper {
  display: flex;
  justify-content: center; /* 使.task-brief整体居中 */
  width: 100%; /* 占满父容器宽度 */
}
.informal-text-brief {
  width: 80%; /* 根据需要调整宽度，确保文本左对齐 */
  text-align: left;
  margin-top: 59px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}





/* 橙色表格样式 */

.styled-table-orange {
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* 或根据您的设计需求调整 */
  /* 其他样式不变 */
}

.styled-table-orange th, .styled-table-orange td {
  border: 1px solid #606060;
  padding: 4px;
  text-align: center; /* 文本居中对齐 */
}

/* 设置特定列的宽度 */
.styled-table-orange thead th:nth-child(1),
.styled-table-orange tbody td:nth-child(1) {
  width: 40%; /* 第一列宽度，调整为所需的百分比 */
}

.styled-table-orange thead th {
  background-color: #f39a2d; /* Ensure this matches the button color */
  color: rgb(255, 255, 255);
  /* Other styling properties */
}


.sstyled-table-orange thead th:nth-child(2),
.styled-table-orangetbody td:nth-child(2) {
  width: 20%; /* 第二列宽度 */
}

.styled-table-orange thead th:nth-child(3),
.styled-table-orange tbody td:nth-child(3) {
  width: 20%; /* 第三列宽度 */
}

.styled-table-orange thead tr {
  background-color: rgb(255, 255, 255);
}
