@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  input.number-arrows-none::-webkit-outer-spin-button,
  input.number-arrows-none::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input.number-arrows-none[type="number"] {
    -moz-appearance: textfield;
  }
}


.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;

}  

.flex-child:first-child {
  margin-right: 20px;
} 

.walkthrough-content {
  margin-bottom: 100px;
  margin-top: 50px;
}
.next-button-container {
  width: 80%; 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px; /* 添加padding以在内容周围增加间距 */

}

.next-button {
  background-color: #ee00ff; /* Adjust this color to match your theme */
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px; /* This creates the smooth edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(5deg); }
 95% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}

h1.wiggle {
display: inline-block;
animation: wiggle 2.5s infinite;
}

h1.wiggle:hover {
animation: none;
}

#message::placeholder {
  color: #888888;
}

.task-brief-text {
  font-size: calc(0.8vw + 1.2vh);;
}

.task-brief-title {
  font-size: calc(1.2vw + 1.2vh);;
}